/BikesForLife/build/
/BikesForLife-InventoryManagement-EJB/build/
/BikesForLife-InventoryManagement-EJBClient/build/
/BikesForLife-InventoryManagement-EJB/.classpath
/BikesForLife-InventoryManagement-EJBClient/.classpath
/BikesForLife/.classpath
BikesForLifeDB.trace.db
/BikesForLife-InventoryManagement-EJB/.settings/